@import url('./colores.css');

.contenedor-progreso{
    width: 100%;
    height: 76vh;
    text-align: center;
    color: var(--titulo-color);
}
/*----=========progreso=======----*/
.contenedor-grafica
{
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    gap: 5%;
    width: 98%;
    height: 60vh;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0px 5px 0px 20px;     
}

.contenedor-grafica h3{
    font-size: 1rem;
     
}
.card-progreso
{
    background-color: var(--segundo-color);
    text-align: center;
    border-radius: 5px;
    box-shadow: 2px 2px 5px #999;
    transition: all .3s;
}
.elemento-progreso{
    padding: 0px 10px 0px 10px;
}
.progreso
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.progreso progress{
    margin-left: 5px;
    margin-right: 5px;
    
}
.progreso label{
    text-align: left;
}

.card-progreso:hover
{
    transform: scale(0.9);
    border: 1px solid var(--quinto-color);
}




.contenedor-vision-mision
{
    background-color: var(--cuarto-color);
    text-align: center;
    color: var(--texto-color-light);
    width: 100%;
}
.vision
{
    width: 100%;
    height: 50vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.vision img
{
    width: 60%;
    height: 60%;
    transition: 1s all;
}
.vision img:hover
{
    transform: scale(1.3);
}
.mision
{
    width: 100%;
    height: 50vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.mision img{
    width: 60%;
    height: 60%;
    transition: 1s all;
}
.mision img:hover
{
    transform: scale(1.3);
}
.contenedor-publicacion
{
    width: 100%;
    text-align: center;
}

.publicaciones
{
    display: grid;
    grid-template-columns: 30% 30% 30%;
    gap: 5%;
    row-gap: 2%;
}
.publicacion
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.publicacion img
{
    width: 40%;
    height: 40%;
}


footer{
    background-color: var(--cuarto-color);
    color: var(--texto-color-light);
    padding: 5px 50px 5px 50px;
}


.footer-datos
{
    display: grid;
    grid-template-columns: 30% 30% 30%;
    gap: 5%;
}
.footer-datos a{
    text-decoration: none;
    color: var(--texto-color-light);
}
.footer-dato-fin
{
    text-align: center;
}
